@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="..." class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="d-flex justify-content-center m-5">
        <div class="dropdown mr-2">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-family: Arial; color:slategrey; font-size: 20px; border: none;">
                Gift Cards
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <ul style="list-style:none;">
                    <li class="nav-item">
                        <a class="nav-link" style="color: black; font-family: Arial" asp-route-id="" asp-controller="..." asp-action="...">Films</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="dropdown ml-2 mr-2">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-family: Arial; color:slategrey; font-size: 20px; border: none;">
                Gift Cards
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <ul style="list-style:none;">
                    <li class="nav-item">
                        <a class="nav-link" style="color: black; font-family: Arial" asp-route-id="" asp-controller="..." asp-action="...">Films</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="dropdown ml-2">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-family: Arial; color:slategrey; font-size: 20px; border: none;">
                Gift Cards
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <ul style="list-style:none;">
                    <li class="nav-item">
                        <a class="nav-link" style="color: black; font-family: Arial" asp-route-id="" asp-controller="..." asp-action="...">Films</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    

</div>
